<% title='Ajax CRUD' %>
<div class="container py-5">
    <h1>AJAX CRUD</h1>
    <button id="createbtn" onclick="showCreateForm()"><b>Create</b></button>
    <table id="product-table" border="2" style="width: 436px;">
    </table>
</div>
<div id="content-box">
    <form id="create-form" action="" method="post"></form>
    <form id="update-form" action="" method="post"></form>
</div>
<div>
</div>