        div {
            width: 20%;
            margin: auto;
            padding: 20px;
        }
        input {
            width: 75%;
            margin: auto;
            border-radius: 10px;
            margin-top: 10px;
            padding: 10px ;
            border:1px solid dodgerblue;
        }
        select {
            width: 50%;
            border-radius: 10px;
            margin-top: 10px;
            padding: 10px 20px;
            border:1px solid dodgerblue;
        }
        button {
            margin-top: 10px;
            width: 25%;
            background-color: dodgerblue;
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            font-size: 20px;
            color: white;
        }
        span {
            display: flex;
            gap: 20px;
        }